<a href="https://colab.research.google.com/github/Radomir21/DigiJed_winter_course/blob/main/Digijed_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Preprocessing

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#встановлення бібліотеки для розархівування
!pip install patool

Collecting patool
  Downloading patool-3.1.0-py2.py3-none-any.whl.metadata (4.3 kB)
Downloading patool-3.1.0-py2.py3-none-any.whl (98 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.4/98.4 kB 5.4 MB/s eta 0:00:00
Installing collected packages: patool
Successfully installed patool-3.1.0

In [ ]:
#імпортування бібліотек

import patoolib
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
patoolib.extract_archive("/content/drive/MyDrive/Data Analyzis/adult.rar", outdir="/content/drive/MyDrive/Data Analyzis")

INFO patool: Extracting /content/drive/MyDrive/Data Analyzis/adult.rar ...
INFO:patool:Extracting /content/drive/MyDrive/Data Analyzis/adult.rar ...
INFO patool: running /usr/bin/unrar x -kb -or -- "/content/drive/MyDrive/Data Analyzis/adult.rar"
INFO:patool:running /usr/bin/unrar x -kb -or -- "/content/drive/MyDrive/Data Analyzis/adult.rar"
INFO patool: ... /content/drive/MyDrive/Data Analyzis/adult.rar extracted to `/content/drive/MyDrive/Data Analyzis'.
INFO:patool:... /content/drive/MyDrive/Data Analyzis/adult.rar extracted to `/content/drive/MyDrive/Data Analyzis'.

'/content/drive/MyDrive/Data Analyzis'

#1) Маємо такі ознаки:

1. Кількісні: *age, fnlwgt, education-num, capital-gain,	capital-loss hours-per-week.*

  1.1 Кількісні дискретні: *age, education-num, hours-per-week.*
      Кількісні неперервні: *fnlwgt, capital-gain, capital-loss.*
2. Якісні: *workclass, education, marital-status,	occupation,	relationship,	race,	sex, native-country, income.*

#2), 3), 4)

In [ ]:
df_adult_data = pd.read_csv("/content/drive/MyDrive/Data Analyzis/adult/adult.data", header=None)
df_adult_data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

Одразу бачимо, що назви стовпців відустні, тому назвемо їх.

In [ ]:
df_adult_data.rename(columns={0:'age', 1:'workclass', 2:'fnlwgt', 3:'education', 4:'education-num',
       5:'marital-status', 6:'occupation', 7:'relationship', 8:'race', 9:'sex',
       10:'capital-gain', 11:'capital-loss', 12:'hours-per-week', 13:'native-country', 14: "income"}, inplace=True)

df_adult_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Типи стовпців

In [ ]:
df_adult_data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

Кількість рядків та стовпців

In [ ]:
df_adult_data.shape

(32561, 15)

Також можна скористатись методом info(). Він також виведе типи ствопців,  кількість стовпців та строк.

In [ ]:
df_adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Також можна скористуватись стандартними функціями пайтона len

In [ ]:
print(len(df_adult_data))
print(" ")
print(len(df_adult_data.columns))

32561

15

#5)

In [81]:
df_adult_data.loc[(df_adult_data['sex'] == 1) & (df_adult_data['age'] < 25), ['age', 'workclass']]          # ПРАВИЛЬНО

       age   workclass
26      19     Private
30      23   Local-gov
31      20     Private
34      22   State-gov
36      21     Private
...    ...         ...
32512   20     Private
32527   22     Private
32535   22     Private
32555   22     Private
32559   22     Private

[3062 rows x 2 columns]

In [67]:
df_adult_data[df_adult_data['sex'] == 'Male ']

Empty DataFrame
Columns: [age, workclass, fnlwgt, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

Фільтрація даних в датафреймі .loc[], .loc[], .filter()

In [ ]:
#df_adult_data['age']                                                           #виводить один стовпець
#df_adult_data[['age','income']]                                                #виводить більше одного стовпця
#df_adult_data[df_adult_data['age'] > 30]                                       #булева маска виводить рядки, де вік більше за 30 та УСІ СТОВПЦІ
#df_adult_data.iloc[0]                                                          #виводить тільки ОДИН рядок
#df_adult_data.iloc[0,0]                                                        #виводить значення першого рядка першого стовпця
#df_adult_data.iloc[0:10, -1:]                                                  #зріз - виводить рядки з останнього стовпця
#df_adult_data.iloc[df_adult_data['age'].values > 30, -1:]                      #виводить рядки де вік > 30 і останній стовпець
#df_adult_data.loc[0]                                                           #виводить тільки ОДИН рядок індекс(мєтка), якого = 0
#df_adult_data.loc[0,'age']                                                     #виводить значення з першого рядка першого стовпця
#df_adult_data.loc[0:9 , 'age']                                                 #виводить значення перших 10 рядків стовпця вік
#df_adult_data.loc[df_adult_data['age'] > 30, ['income', 'sex']]                #булева маска, виводить рядки значення віку, в яких >30 та стовпці income, sex
df_adult_data.filter(items=['age','income'], like=None, regex=None, axis=None)  #виводить колонки age, income

       age  income
0       39   <=50K
1       50   <=50K
2       38   <=50K
3       53   <=50K
4       28   <=50K
...    ...     ...
32556   27   <=50K
32557   40    >50K
32558   58   <=50K
32559   22   <=50K
32560   52    >50K

[32561 rows x 2 columns]

In [ ]:
df_1 = df_adult_data.loc[df_adult_data['sex'] == ' Female']
df_2 = df_adult_data.iloc[df_adult_data['sex'].values == ' Female']

if df_1.equals(df_2):
  print(True)
else:
  print(False)

del(df_1,df_2)

True

#6)

Показати ознаки .describe()

In [ ]:
df_adult_data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
df_1 = df_adult_data[['age', 'hours-per-week']].min()                           #мінимальні значення в кожному стовпці .max(), .median(), .mean(), .std() -так само
df_1

age               17
hours-per-week     1
dtype: int64

In [ ]:
del(df_1)

#7)

Цільовою ознакою є income.

Класи: <=50K та >50K

In [ ]:
df_2= df_adult_data.groupby('income')[['age', 'fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']].mean() #для вибраних стовпців середнє значення в класах
df_2

#df_3 = df_adult_data.groupby('income').agg({'age': 'mean','fnlwgt': 'median'})                                                #для різних стовпців - різні функції агрегації
#df_3

#df_4 = df_adult_data.groupby('income')['age'].agg(['mean', 'median'])                                                         #для вибраного стовпця різні функції агрегації
#df_4

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
income,,,,,,
<=50K,36.783738,190340.86517,9.595065,148.752468,53.142921,38.840210
>50K,44.249841,188005.00000,11.611657,4006.142456,195.001530,45.473026

In [ ]:
del(df_2)

Суттєва відрізняються значення стовпця capital-gain.

In [ ]:
#df_adult_data[['sex', 'workclass', 'education','marital-status', 'occupation', 'relationship',	'relationship',	'race'	,'native-country']].nunique()  #виводить КІЛЬКІСТЬ унікальних значень в одному чи в усьому датафреймі
#df_adult_data['sex'].unique()                                        #виводить масив унікальних значень одного стовпця
pd.set_option('display.max_colwidth', None)                           #для того, щоб не було скорочення
df_3 = df_adult_data[['sex', 'workclass', 'education','marital-status', 'occupation', 'relationship',	'race'	,'native-country']]
df_3.apply(lambda x : (x.nunique(), x.value_counts()))            #виводить кількість уніклаьних значень та частоту укікальних значень в кожному стовпці

#for column in df_adult_data.columns:
 #print(df_adult_data[column].unique())                               #також виводить масиви унікальних значень по всім стовпчикам та їх кількість та частоту кожного унікального значення,  але циклом
 #print(' ')
 #print(df_adult_data[column].nunique())
 #print(' ')
 #print(df_adult_data[column].value_counts())

#df_adult_data['sex'].value_counts()                                   #виводить частоту кожного унікального значення в стовпці

,sex,workclass,education,marital-status,occupation,relationship,race,native-country
0,2,9,16,7,15,6,5,42
1,"sex Male 21790 Female 10771 Name: count, dtype: int64","workclass Private 22696 Self-emp-not-inc 2541 Local-gov 2093 ? 1836 State-gov 1298 Self-emp-inc 1116 Federal-gov 960 Without-pay 14 Never-worked 7 Name: count, dtype: int64","education HS-grad 10501 Some-college 7291 Bachelors 5355 Masters 1723 Assoc-voc 1382 11th 1175 Assoc-acdm 1067 10th 933 7th-8th 646 Prof-school 576 9th 514 12th 433 Doctorate 413 5th-6th 333 1st-4th 168 Preschool 51 Name: count, dtype: int64","marital-status Married-civ-spouse 14976 Never-married 10683 Divorced 4443 Separated 1025 Widowed 993 Married-spouse-absent 418 Married-AF-spouse 23 Name: count, dtype: int64","occupation Prof-specialty 4140 Craft-repair 4099 Exec-managerial 4066 Adm-clerical 3770 Sales 3650 Other-service 3295 Machine-op-inspct 2002 ? 1843 Transport-moving 1597 Handlers-cleaners 1370 Farming-fishing 994 Tech-support 928 Protective-serv 649 Priv-house-serv 149 Armed-Forces 9 Name: count, dtype: int64","relationship Husband 13193 Not-in-family 8305 Own-child 5068 Unmarried 3446 Wife 1568 Other-relative 981 Name: count, dtype: int64","race White 27816 Black 3124 Asian-Pac-Islander 1039 Amer-Indian-Eskimo 311 Other 271 Name: count, dtype: int64","native-country United-States 29170 Mexico 643 ? 583 Philippines 198 Germany 137 Canada 121 Puerto-Rico 114 El-Salvador 106 India 100 Cuba 95 England 90 Jamaica 81 South 80 China 75 Italy 73 Dominican-Republic 70 Vietnam 67 Guatemala 64 Japan 62 Poland 60 Columbia 59 Taiwan 51 Haiti 44 Iran 43 Portugal 37 Nicaragua 34 Peru 31 France 29 Greece 29 Ecuador 28 Ireland 24 Hong 20 Cambodia 19 Trinadad&Tobago 19 Laos 18 Thailand 18 Yugoslavia 16 Outlying-US(Guam-USVI-etc) 14 Honduras 13 Hungary 13 Scotland 12 Holand-Netherlands 1 Name: count, dtype: int64"

In [ ]:
del(df_3)

In [ ]:
df_4 = df_adult_data.groupby('income')[['sex', 'workclass', 'education','marital-status', 'occupation', 'relationship', 'race'	,'native-country']].nunique()
df_4

,sex,workclass,education,marital-status,occupation,relationship,race,native-country
income,,,,,,,,
<=50K,2,9,16,7,15,6,5,42
>50K,2,7,15,7,15,6,5,40

In [ ]:
del(df_4)

#8), 9)

In [ ]:
columns = ['sex', 'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']
df_alpha = [df_adult_data.groupby('income')[col].value_counts() for col in columns]
for data in df_alpha:
    print(data)

income  sex
<=50K   Male      15128
        Female     9592
>50K    Male       6662
        Female     1179
Name: count, dtype: int64
income  workclass
<=50K   Private             17733
        Self-emp-not-inc     1817
        ?                    1645
        Local-gov            1476
        State-gov             945
        Federal-gov           589
        Self-emp-inc          494
        Without-pay            14
        Never-worked            7
>50K    Private              4963
        Self-emp-not-inc      724
        Self-emp-inc          622
        Local-gov             617
        Federal-gov           371
        State-gov             353
        ?                     191
Name: count, dtype: int64
income  education
<=50K   HS-grad         8826
        Some-college    5904
        Bachelors       3134
        11th            1115
        Assoc-voc       1021
        10th             871
        Assoc-acdm       802
        Masters          764
        7th-8th          606
        9th              487
        12th             400
        5th-6th          317
        1st-4th          162
        Prof-school      153
        Doctorate        107
        Preschool         51
>50K    Bachelors       2221
        HS-grad         1675
        Some-college    1387
        Masters          959
        Prof-school      423
        Assoc-voc        361
        Doctorate        306
        Assoc-acdm       265
        10th              62
        11th              60
        7th-8th           40
        12th              33
        9th               27
        5th-6th           16
        1st-4th            6
Name: count, dtype: int64
income  marital-status
<=50K   Never-married            10192
        Married-civ-spouse        8284
        Divorced                  3980
        Separated                  959
        Widowed                    908
        Married-spouse-absent      384
        Married-AF-spouse           13
>50K    Married-civ-spouse        6692
        Never-married              491
        Divorced                   463
        Widowed                     85
        Separated                   66
        Married-spouse-absent       34
        Married-AF-spouse           10
Name: count, dtype: int64
income  occupation
<=50K   Adm-clerical         3263
        Craft-repair         3170
        Other-service        3158
        Sales                2667
        Prof-specialty       2281
        Exec-managerial      2098
        Machine-op-inspct    1752
        ?                    1652
        Handlers-cleaners    1284
        Transport-moving     1277
        Farming-fishing       879
        Tech-support          645
        Protective-serv       438
        Priv-house-serv       148
        Armed-Forces            8
>50K    Exec-managerial      1968
        Prof-specialty       1859
        Sales                 983
        Craft-repair          929
        Adm-clerical          507
        Transport-moving      320
        Tech-support          283
        Machine-op-inspct     250
        Protective-serv       211
        ?                     191
        Other-service         137
        Farming-fishing       115
        Handlers-cleaners      86
        Armed-Forces            1
        Priv-house-serv         1
Name: count, dtype: int64
income  relationship
<=50K   Not-in-family     7449
        Husband           7275
        Own-child         5001
        Unmarried         3228
        Other-relative     944
        Wife               823
>50K    Husband           5918
        Not-in-family      856
        Wife               745
        Unmarried          218
        Own-child           67
        Other-relative      37
Name: count, dtype: int64
income  race
<=50K   White                 20699
        Black                  2737
        Asian-Pac-Islander      763
        Amer-Indian-Eskimo      275
        Other                   246
>50K    White                  7117
        Black                   387
        Asian-Pac-Islander      276
        Amer-Indian-Eskimo       36
        Other                    25
Name: count, dtype: int64
income  native-country
<=50K   United-States      21999
        Mexico               610
        ?                    437
        Philippines          137
        Puerto-Rico          102
                           ...
>50K    Laos                   2
        Nicaragua              2
        Peru                   2
        Trinadad&Tobago        2
        Honduras               1
Name: count, Length: 82, dtype: int64

Можемо побачити, що існує декілька значень якісних ознак, в яких в рамках певного класу містять одне унікальне значення.

В класі >50K в стовпці  'native-country' одне значення 'Honduras'.

В класі <=50K в стовпці 'occupation' одне значення 'Armed-Forces' та одне - 'Priv-house-serv '

In [ ]:
df_adult_data[(df_adult_data['native-country'] == ' Honduras') & (df_adult_data['income'] == ' >50K')]          #перевірив, дійсно один запис

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K

Перевірка на пропущені значення

#10), 11)

In [ ]:
df_adult_data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [ ]:
array_of_null_columns = [i >0 for i in [df_adult_data.isnull().sum()]]
array_of_null_columns

[age               False
 workclass         False
 fnlwgt            False
 education         False
 education-num     False
 marital-status    False
 occupation        False
 relationship      False
 race              False
 sex               False
 capital-gain      False
 capital-loss      False
 hours-per-week    False
 native-country    False
 income            False
 dtype: bool]

Нібито все ок, але ні

In [ ]:
df_adult_data.replace(' ?', np.nan, inplace=True)
df_adult_data.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

Замінемо всі '?' та nan

Можна побачити, що кількість пропущених значень відносовно загальної кількості даних доволі мала, тому можна просто її замінити на моду.

In [ ]:
for column in ['workclass', 'occupation', 'native-country']:
    df_adult_data[column] = df_adult_data[column].fillna(df_adult_data[column].mode()[0])
df_adult_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df_adult_data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [ ]:
#df_adult_data.dropna(how='all')                 #видаляє лише ті рядки, де всі значення є пропущеними
#df_adult_data.dropna(axis=1, how='all')         #видаляє лише ті ствопчики, де всі значення є пропущеними
#df_adult_data.dropna(how='any')                 #видаляє всі рядки, де є хочаб один пропуск
#df_adult_data.dropna(axis=1, how='any')         #видаляє всі стовпці, де є хочаб один пропуск

#12)

1) Label encoding

В нашому випадку нам пощастило і ми вже маємо колонку 'education-num', де вже закодовані в порядку назви освіт. Тому просто видалимо колонку 'education'

In [ ]:
df_adult_data['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [ ]:
df_adult_data['education-num'].unique()

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8])

In [ ]:
df_adult_data.drop(columns=['education'], axis=1, inplace=True)

In [ ]:
df_adult_data

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df_adult_data[df_adult_data['capital-loss'] != 0]

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
23,43,Private,117037,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
32,45,Private,386940,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
52,47,Private,51835,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
93,30,Private,117747,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,United-States,<=50K
96,48,Self-emp-not-inc,191277,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32441,53,Private,304504,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K
32443,18,Private,41381,9,Never-married,Sales,Own-child,White,Female,0,1602,20,United-States,<=50K
32445,61,Private,190682,9,Widowed,Craft-repair,Not-in-family,Black,Female,0,1669,50,United-States,<=50K
32458,36,Private,237943,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
32500,34,Private,60567,7,Divorced,Transport-moving,Unmarried,White,Male,0,880,60,United-States,<=50K

In [ ]:
df_adult_data[df_adult_data['capital-gain'] != 0]

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
8,31,Private,45781,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
59,30,Private,188146,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5013,0,40,United-States,<=50K
60,30,Private,59496,13,Married-civ-spouse,Sales,Husband,White,Male,2407,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32515,66,Federal-gov,47358,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32518,57,Local-gov,110417,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32538,38,Private,139180,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32548,65,Self-emp-not-inc,99359,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32560,52,Self-emp-inc,287927,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df_adult_data['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [ ]:
df_adult_data['sex'] = df_adult_data['sex'].map({' Male': 1, ' Female': 0})
df_adult_data

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,12,Married-civ-spouse,Tech-support,Wife,White,0,0,0,38,United-States,<=50K
32557,40,Private,154374,9,Married-civ-spouse,Machine-op-inspct,Husband,White,1,0,0,40,United-States,>50K
32558,58,Private,151910,9,Widowed,Adm-clerical,Unmarried,White,0,0,0,40,United-States,<=50K
32559,22,Private,201490,9,Never-married,Adm-clerical,Own-child,White,1,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,9,Married-civ-spouse,Exec-managerial,Wife,White,0,15024,0,40,United-States,>50K

In [ ]:
df_object = df_adult_data.drop(columns=['income']).select_dtypes('object')
df_object

,workclass,marital-status,occupation,relationship,race,native-country
0,State-gov,Never-married,Adm-clerical,Not-in-family,White,United-States
1,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,United-States
2,Private,Divorced,Handlers-cleaners,Not-in-family,White,United-States
3,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,United-States
4,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Cuba
...,...,...,...,...,...,...
32556,Private,Married-civ-spouse,Tech-support,Wife,White,United-States
32557,Private,Married-civ-spouse,Machine-op-inspct,Husband,White,United-States
32558,Private,Widowed,Adm-clerical,Unmarried,White,United-States
32559,Private,Never-married,Adm-clerical,Own-child,White,United-States
32560,Self-emp-inc,Married-civ-spouse,Exec-managerial,Wife,White,United-States

2) One-Hot encoding

In [ ]:
categorical_columns = df_adult_data.select_dtypes('object').drop(columns=['income']).columns.tolist() #виокремили категоріальні фічі
encoder = OneHotEncoder(sparse_output=False)                                                          #створили об'єкт
one_hot_encoded = encoder.fit_transform(df_adult_data[categorical_columns])                           #заповнили
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns), index=df_adult_data.index) #перетворили на об'єкт pandas
df_encoded = pd.concat([df_adult_data, one_hot_df], axis=1)                                           #склеїли з основою по тсовпчикам
df_encoded = df_encoded.drop(categorical_columns, axis=1)                                             #дропнули минулі колонки з якісними фічами
df_encoded

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,income,workclass_ Federal-gov,workclass_ Local-gov,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,1,2174,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,50,83311,13,1,0,0,13,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,38,215646,9,1,0,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,53,234721,7,1,0,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,28,338409,13,0,0,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,0,38,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,40,154374,9,1,0,0,40,>50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,58,151910,9,0,0,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,22,201490,9,1,0,0,20,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,52,287927,9,0,15024,0,40,>50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

Занадто багато колонок

In [ ]:
zero_perс = (df_encoded.drop(columns=['age','fnlwgt','education-num',	'capital-gain',	'capital-loss', 'hours-per-week','income']) == 0).mean() * 100
zero_perс.tolist()

[33.07945087681583,
 97.05168760173213,
 93.57206474002642,
 99.97850188876262,
 24.65833358926323,
 96.5725868370136,
 92.19618562083474,
 96.013635944842,
 99.95700377752526,
 86.35484168176653,
 99.9293633487915,
 54.00632658702128,
 98.7162556432542,
 67.19081109302539,
 96.85206228309941,
 96.95033936304168,
 88.42173151930224,
 99.97235957126624,
 87.41132029114584,
 87.51266852983632,
 96.94726820429348,
 95.79251251497189,
 93.85154018611223,
 89.88053192469519,
 99.54239734651884,
 81.62525720954517,
 98.00681797242099,
 88.79027056908572,
 97.14996468167439,
 95.09535947913147,
 59.48220263505421,
 74.49402659623476,
 96.98719326802002,
 84.43536746414422,
 89.41678695371765,
 95.18442308282916,
 99.04486962931114,
 96.80906606062467,
 90.40570007063666,
 99.16771597923896,
 14.57264826018857,
 99.94164798378428,
 99.62838979146832,
 99.76966309388531,
 99.81880163385645,
 99.70823991892141,
 99.7850188876263,
 99.91400755505052,
 99.67445717269126,
 99.72359571266239,
 99.91093639630233,
 99.5792512514972,
 99.91093639630233,
 99.80344584011547,
 99.86486901507939,
 99.99692884125182,
 99.96007493627346,
 99.93857682503608,
 99.96007493627346,
 99.69288412518043,
 99.86794017382759,
 99.92629219004331,
 99.77580541138171,
 99.75123614139615,
 99.80958815761186,
 99.94471914253248,
 98.02524492491017,
 99.89558060256135,
 99.95700377752526,
 99.90479407880593,
 99.39191056785725,
 99.81573047510825,
 99.88636712631676,
 99.64988790270569,
 99.96314609502164,
 99.75430730014435,
 99.84337090384201,
 99.94471914253248,
 99.94164798378428,
 8.623813764933509,
 99.79423236387089,
 99.95086146002888]

Видалимо всі рядки,  в яких відстуні >90% значень

In [ ]:
columns_with_zeros = zero_perс[zero_perс > 90].index
df_encoded_without_zeros = df_encoded.drop(columns=columns_with_zeros)
df_encoded_without_zeros

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,income,workclass_ Private,marital-status_ Divorced,...,occupation_ Exec-managerial,occupation_ Other-service,occupation_ Prof-specialty,occupation_ Sales,relationship_ Husband,relationship_ Not-in-family,relationship_ Own-child,relationship_ Unmarried,race_ White,native-country_ United-States
0,39,77516,13,1,2174,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,50,83311,13,1,0,0,13,<=50K,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,38,215646,9,1,0,0,40,<=50K,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3,53,234721,7,1,0,0,40,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,28,338409,13,0,0,0,40,<=50K,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,0,38,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
32557,40,154374,9,1,0,0,40,>50K,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
32558,58,151910,9,0,0,0,40,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
32559,22,201490,9,1,0,0,20,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
32560,52,287927,9,0,15024,0,40,>50K,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [ ]:
zero_all = (df_encoded_without_zeros.drop(columns=['income']) == 0).mean() * 100
zero_all

age                                    0.000000
fnlwgt                                 0.000000
education-num                          0.000000
sex                                   33.079451
capital-gain                          91.671017
capital-loss                          95.334910
hours-per-week                         0.000000
workclass_ Private                    24.658334
marital-status_ Divorced              86.354842
marital-status_ Married-civ-spouse    54.006327
marital-status_ Never-married         67.190811
occupation_ Adm-clerical              88.421732
occupation_ Craft-repair              87.411320
occupation_ Exec-managerial           87.512669
occupation_ Other-service             89.880532
occupation_ Prof-specialty            81.625257
occupation_ Sales                     88.790271
relationship_ Husband                 59.482203
relationship_ Not-in-family           74.494027
relationship_ Own-child               84.435367
relationship_ Unmarried               89.416787
race_ White                           14.572648
native-country_ United-States          8.623814
dtype: float64

#13)

Маасштабування потрібне наприклад значення фіч 'age', 'fnlwgt', capital-gain	capital-loss різняться масштабом

Нормалізація —  коли для даних з відомими межами або якщо важливий діапазон.

In [ ]:
df_encoded_without_zeros

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,income,workclass_ Private,marital-status_ Divorced,...,occupation_ Exec-managerial,occupation_ Other-service,occupation_ Prof-specialty,occupation_ Sales,relationship_ Husband,relationship_ Not-in-family,relationship_ Own-child,relationship_ Unmarried,race_ White,native-country_ United-States
0,39,77516,13,1,2174,0,40,<=50K,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,50,83311,13,1,0,0,13,<=50K,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,38,215646,9,1,0,0,40,<=50K,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3,53,234721,7,1,0,0,40,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,28,338409,13,0,0,0,40,<=50K,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,0,38,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
32557,40,154374,9,1,0,0,40,>50K,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
32558,58,151910,9,0,0,0,40,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
32559,22,201490,9,1,0,0,20,<=50K,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
32560,52,287927,9,0,15024,0,40,>50K,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [84]:
scaler = MinMaxScaler()
df_encoded_without_zeros[['fnlwgt_normalized', 'capital-gain_normalized','capital-loss_normalized', 'age_normalized','education-num_normalized', 'hours-per-week_normalized']] = scaler.fit_transform(df_encoded[['fnlwgt', 'capital-gain', 'capital-loss', 'age', 'education-num', 'hours-per-week']])

In [86]:
df_normal = df_encoded_without_zeros.drop(columns=['fnlwgt','capital-gain','capital-loss','age'	,'education-num','hours-per-week'	])
df_normal

,sex,income,workclass_ Private,marital-status_ Divorced,marital-status_ Married-civ-spouse,marital-status_ Never-married,occupation_ Adm-clerical,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Other-service,...,relationship_ Own-child,relationship_ Unmarried,race_ White,native-country_ United-States,fnlwgt_normalized,capital-gain_normalized,capital-loss_normalized,age_normalized,education-num_normalized,hours-per-week_normalized
0,1,<=50K,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.044302,0.021740,0.0,0.301370,0.800000,0.397959
1,1,<=50K,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.048238,0.000000,0.0,0.452055,0.800000,0.122449
2,1,<=50K,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.138113,0.000000,0.0,0.287671,0.533333,0.397959
3,1,<=50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.151068,0.000000,0.0,0.493151,0.400000,0.397959
4,0,<=50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.221488,0.000000,0.0,0.150685,0.800000,0.397959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0,<=50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.166404,0.000000,0.0,0.136986,0.733333,0.377551
32557,1,>50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.096500,0.000000,0.0,0.315068,0.533333,0.397959
32558,0,<=50K,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.094827,0.000000,0.0,0.561644,0.533333,0.397959
32559,1,<=50K,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.128499,0.000000,0.0,0.068493,0.533333,0.193878
32560,0,>50K,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.187203,0.150242,0.0,0.479452,0.533333,0.397959

Стандартизація — якщо дані мають різні масштаби та відмінності, важливо, щоб вони мали нормальне значення.

In [87]:
scaler = StandardScaler()
df_encoded_without_zeros[['fnlwgt_standart', 'capital-gain_standart','capital-loss_standart', 'age_standart','education-num_standart', 'hours-per-week_standart']] = scaler.fit_transform(df_encoded[['fnlwgt', 'capital-gain', 'capital-loss', 'age', 'education-num', 'hours-per-week']])

In [88]:
df_standart = df_encoded_without_zeros.drop(columns=['fnlwgt','capital-gain','capital-loss','age'	,'education-num','hours-per-week'	])
df_standart

,sex,income,workclass_ Private,marital-status_ Divorced,marital-status_ Married-civ-spouse,marital-status_ Never-married,occupation_ Adm-clerical,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Other-service,...,capital-loss_normalized,age_normalized,education-num_normalized,hours-per-week_normalized,fnlwgt_standart,capital-gain_standart,capital-loss_standart,age_standart,education-num_standart,hours-per-week_standart
0,1,<=50K,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.301370,0.800000,0.397959,-1.063611,0.148453,-0.21666,0.030671,1.134739,-0.035429
1,1,<=50K,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.452055,0.800000,0.122449,-1.008707,-0.145920,-0.21666,0.837109,1.134739,-2.222153
2,1,<=50K,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.287671,0.533333,0.397959,0.245079,-0.145920,-0.21666,-0.042642,-0.420060,-0.035429
3,1,<=50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.493151,0.400000,0.397959,0.425801,-0.145920,-0.21666,1.057047,-1.197459,-0.035429
4,0,<=50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.150685,0.800000,0.397959,1.408176,-0.145920,-0.21666,-0.775768,1.134739,-0.035429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0,<=50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.136986,0.733333,0.377551,0.639741,-0.145920,-0.21666,-0.849080,0.746039,-0.197409
32557,1,>50K,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.315068,0.533333,0.397959,-0.335433,-0.145920,-0.21666,0.103983,-0.420060,-0.035429
32558,0,<=50K,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.561644,0.533333,0.397959,-0.358777,-0.145920,-0.21666,1.423610,-0.420060,-0.035429
32559,1,<=50K,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.068493,0.533333,0.193878,0.110960,-0.145920,-0.21666,-1.215643,-0.420060,-1.655225
32560,0,>50K,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.479452,0.533333,0.397959,0.929893,1.888424,-0.21666,0.983734,-0.420060,-0.035429